# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/

# Logs
logs/

# Reports
reports/

# OS
.DS_Store
Thumbs.db